In [3]:
import numpy as np
import pandas as pd
import csv
tr= pd.read_csv('tr1.csv',low_memory=False)

In [9]:
tr.describe()

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,local_trafffic_month,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,current_service
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,9.900000e+01
mean,2.838384,0.030303,40.686869,95.051818,112.284848,101.261212,105.795152,1127.730123,0.424242,1.939394,...,5461.087183,49.251683,36.363300,101.012309,1.171717,31.838384,0.111111,0.141414,235.919192,9.253379e+07
std,1.440713,0.172292,37.784201,68.908556,109.424774,89.381519,92.098021,1966.242203,0.496743,3.367971,...,10525.951908,77.443745,83.626238,152.365590,0.452666,11.973361,0.374953,0.495080,1326.886056,4.406628e+06
min,1.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.901625e+07
25%,1.000000,0.000000,10.000000,44.800000,43.100000,38.500000,44.350000,0.000000,0.000000,0.000000,...,2.493122,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000,0.000000,0.000000,8.995017e+07
50%,4.000000,0.000000,29.000000,76.000000,81.000000,78.200000,76.000000,11.236003,0.000000,0.000000,...,1425.168053,14.633333,0.000000,43.733333,1.000000,30.000000,0.000000,0.000000,0.000000,9.006334e+07
75%,4.000000,0.000000,60.500000,116.900000,140.275000,123.825000,133.365000,1965.174108,1.000000,2.500000,...,4355.643868,68.125000,34.191667,152.358333,1.000000,40.000000,0.000000,0.000000,0.000000,9.910472e+07
max,4.000000,1.000000,134.000000,317.040000,787.960000,435.510000,413.050000,14946.728150,1.000000,12.000000,...,62852.509720,461.566667,430.666667,742.516667,2.000000,70.000000,2.000000,3.000000,10756.000000,9.999983e+07

In [25]:
tr=tr.drop('user_id',1)
tr=tr[tr['gender']!=0]

In [26]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
column_lst=['online_time','1_total_fee','3_total_fee','4_total_fee','month_traffic','contract_time','pay_times','pay_num','last_month_traffic','local_trafffic_month','local_caller_time','age','service1_caller_time','service2_caller_time','former_complaint_num','former_complaint_fee']
for i in range(len(column_lst)):
            tr[column_lst[i]]=MinMaxScaler().fit_transform(tr[column_lst[i]].values.reshape(-1,1))

In [15]:
tr.head(10)

,service_type,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_type,...,local_caller_time,service1_caller_time,service2_caller_time,gender,age,complaint_level,former_complaint_num,former_complaint_fee,current_service,user_id
0,4,0,0.623077,0.933510,296.20,0.679663,0.718557,2.551471e-01,0,1,...,0.234202,0.000000,0.760073,1,0.442857,0,0.000000,0.0,99999825,Gx4sJzcQog01UhZL
1,1,0,0.046154,0.836488,261.20,0.478749,0.422467,0.000000e+00,1,0,...,0.520185,0.824690,0.000000,1,0.428571,0,0.000000,0.0,90063345,kEXrhTiug93DIcLG
2,1,0,0.061538,0.140361,70.20,0.158435,0.148650,1.738439e-01,0,0,...,0.059941,0.000000,0.132545,2,0.357143,0,0.000000,0.0,90109916,AouXr0EOUtSRdiYK
3,4,0,1.000000,0.277410,81.40,0.174508,0.213776,6.613090e-02,0,0,...,0.194771,0.172949,0.164082,1,0.628571,0,0.000000,0.0,89950166,Yds7U30hnRZDiLtb
4,4,0,0.615385,1.000000,314.08,1.000000,1.000000,3.937852e-01,0,1,...,0.000000,0.081502,0.668986,1,0.442857,2,0.333333,0.0,99999825,OFDTSXrhN9Q2mbVw
5,4,0,0.323077,0.113550,36.00,0.082662,0.090062,1.458536e-02,0,3,...,0.031704,0.000000,0.019708,1,0.600000,0,0.000000,0.0,89950168,4qHSn3dkPzJTAjoG
6,1,0,0.061538,0.105980,32.70,0.088861,0.110640,0.000000e+00,0,0,...,0.013252,0.315867,0.000000,1,0.385714,0,0.000000,0.0,90063345,tXkjbzpTsZcxYPKG
7,3,0,0.492308,0.631245,66.50,0.152695,0.160997,0.000000e+00,0,0,...,0.001878,0.000000,0.000019,1,0.342857,0,0.000000,0.0,99104722,Ip5i0LvzTkxyr1mQ
8,4,0,0.807692,0.365884,116.00,0.266354,0.280838,4.254752e-02,0,9,...,0.543547,0.000000,0.418487,1,0.571429,0,0.000000,0.0,89950167,ro43b68MustgPyOR
9,4,0,0.192308,0.050467,19.45,0.045005,0.043094,1.464960e-07,0,0,...,0.073554,0.000000,0.045723,1,0.714286,0,0.000000,0.0,89016252,PuslOvjEmUnqf2Fb

In [27]:
service_type = pd.get_dummies(tr,columns=['service_type'],prefix='service_type')
contract_type = pd.get_dummies(service_type,columns=['contract_type'],prefix='contract_type')
gender=pd.get_dummies(contract_type,columns=['gender'],prefix='gender')
complaint_level=pd.get_dummies(gender,columns=['complaint_level'],prefix='complaint_level')

In [35]:
tr=complaint_level

In [36]:
tr.head(5)

,is_mix_service,online_time,1_total_fee,2_total_fee,3_total_fee,4_total_fee,month_traffic,many_over_bill,contract_time,is_promise_low_consume,...,contract_type_1,contract_type_3,contract_type_6,contract_type_9,contract_type_12,gender_1,gender_2,complaint_level_0,complaint_level_1,complaint_level_2
0,0,0.623077,0.933510,296.20,0.679663,0.718557,0.255147,0,1.000000,0,...,1,0,0,0,0,1,0,1,0,0
1,0,0.046154,0.836488,261.20,0.478749,0.422467,0.000000,1,0.000000,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0.061538,0.140361,70.20,0.158435,0.148650,0.173844,0,0.000000,0,...,0,0,0,0,0,0,1,1,0,0
3,0,1.000000,0.277410,81.40,0.174508,0.213776,0.066131,0,0.000000,0,...,0,0,0,0,0,1,0,1,0,0
4,0,0.615385,1.000000,314.08,1.000000,1.000000,0.393785,0,0.666667,0,...,1,0,0,0,0,1,0,0,0,1

In [48]:
tr['current_service']=tr['current_service'].replace(90063345,1)
tr['current_service']=tr['current_service'].replace(90109916,2)
tr['current_service']=tr['current_service'].replace(90155946,3)
tr['current_service']=tr['current_service'].replace(99104722,4)
tr['current_service']=tr['current_service'].replace(89016252,5)
tr['current_service']=tr['current_service'].replace(89016253,6)
tr['current_service']=tr['current_service'].replace(89016259,7)
tr['current_service']=tr['current_service'].replace(89950166,8)
tr['current_service']=tr['current_service'].replace(89950167,9)
tr['current_service']=tr['current_service'].replace(89950168,10)
tr['current_service']=tr['current_service'].replace(99999825,11)
tr['current_service']=tr['current_service'].replace(99999826,12)
tr['current_service']=tr['current_service'].replace(99999827,13)
tr['current_service']=tr['current_service'].replace(99999828,14)
tr['current_service']=tr['current_service'].replace(99999830,15)

In [54]:
tr.to_csv('tr2.csv', sep=',', header=True,index=False)